.MaintenancePage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MaintenancePage .navlink{
    text-decoration: none;
    color: black;
}


